admin: JH #실험자 이름.
data:
  preprocessing: #실행시키고자 하는 전처리 함수들 입력.
    - translate
    - 특수문자제거
  pre_dataset: punc_preprocessing_dataset #preprocessing.py 에서 dataset 관련하여 실행하고자 하는 함수 명
  tokenizer:
    tokenizing: tokenized_dataset #tokenizing.py 에서 실행하고자 하는 함수 명
    max_len: 256
model:
  model_name: klue/bert-base
train:
  batch_size: 16
  epochs: 5
  LR: 0.00005
  save_steps: 1500
  eval_steps: 500
inference:
  get_dev_pred: True #dev set의 inference 여부.
  run_name: 0510_18:06:30_JH #inference만 실행 시 모델 run_name 입력.
  ckpt: 500 # checkpoint 위치. 0일 때는 자동으로 best_model 사용.

